<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='static/styles.css'>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if count_of_rows == 0 %}
    <h1 class="empty-db">The Database is empty please click <a href="/">here</a> to add a new plan</h1>

    {% else %}
<table>
    <thead>
    <th>Starting Balance</th>
    <th>Interest Rate</th>
    <th>Monthly Contribution</th>
    <th>Additional COntribution</th>
    <th>Goal Amount</th>
    <th>Interest Earned</th>
    <th>Goal Type</th>
    <th>Total Contributions</th>
    <th>Years to retire</th>
    <th>Update Plan</th>
    <th>Delete Plan</th>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{row.starting_bal}}</td>
        <td>{{row.int_rate}}</td>
        <td>{{row.monthly_cont}}</td>
        <td>{{row.extra_cont}}</td>
        <td>{{row.goal}}</td>
        <td>{{row.interest_earned}}</td>
        <td>{{row.goal_type}}</td>
        <td>{{row.total_contributions}}</td>
        <td>{{row.years_to_retire}}</td>
        <td><form action="{{ url_for('db_operations') }}" method="POST"><button type="submit"  name="update-btn" value="{{row.plan_id}}">Edit</button></form></td>
        <td><form action="{{ url_for('db_operations') }}"  method="POST"><button type="submit"  name="delete-btn" value="{{row.plan_id}}">Delete</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <button class="nav-button"><a href="/">Add New Plan</a></button>
    {% endif %}
</body>
</html>